.vert-space {
	display: block;
	height: .5em;
}

@font-face {
	font-family: 'open_sansregular';
	src: url('/font/opensans-regular-webfont.eot');
	src: url('/font/opensans-regular-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('/font/opensans-regular-webfont.woff') format('woff'),
		url('/font/opensans-regular-webfont.ttf') format('truetype'),
		url('/font/opensans-regular-webfont.svg#open_sansregular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: Roboto, open_sansregular, Tahoma, Verdana, Arial;
}

tr td div p {
	margin: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
}

.page-top-button-bar {
	margin-top: 0;
}

.compact-field-contain {
	margin-bottom: 0;
	margin-left: 10px;
}

.ui-field-contain>label ~ [class*="ui-"], .ui-field-contain .ui-controlgroup-controls
	{
	margin: 0;
	margin-bottom: 10px;
}

/*
Bold labels are more visible on a background image.
*/
.ui-mobile label, div.ui-controlgroup-label {
	font-weight: bold;
}

.dialog-content {
	/*
	We have the ability to style our forms here, but this currenly is not used.
	
	background-image: url(/ibm-702-bright.jpg); 
	background-size: 100% auto; 
	background-repeat: no-repeat;
	*/
}

.created-by-me {
	background: green;
	color: white;
	padding: 4px;
	margin-top: 2px;
}

.created-by-other {
	background: lightGray;
	padding: 4px;
	margin-top: 2px;
}

.path-display {
	margin-bottom: 4px;
}

.captcha-image {
	text-align: center;
}

.donations {
	text-align: center;
}

.donate-back-button {
	margin: 3em;
}

.page-node-header {
	border-left: 10px solid transparent;
}

.header-text {
	font-size: small;
	margin-left: 16px;
}

.donate-center {
	margin-top: 2em;
	text-align: center;
}

.donate-link {
	font-size: small;
	cursor: pointer;
}

.captcha {
	margin-top: 20px;
	border: 1px solid black;
}

.privilege-list {
}

.binary-link {
}

.privilege-entry {
	margin: 1em;
	background: lightGray;
	border-bottom: 1px solid #d6d6d6;
}

.jcr-content {
	margin-left: 1em;
}

.property-text {
	margin-left: 1em;
}

.prop-table-row {
	border-bottom: 1px solid #d6d6d6;
	width: 100%;
}

.prop-table-name-col {
	border-right: 1px solid gray;
	/*
	margin: 0px;
	paddign: 0px;
	border: 1px solid red;
	*/
	width: 25%;
}

.prop-table-val-col {
	/*
	margin: 0px;
	paddign: 0px;
	border: 1px solid green;
	*/
	width: 70%;
}

.prop-table {
	/* border: 1px solid gray; */
	width: 100%;
}

.path-display-in-editor {
	background: lightGray;
	padding: 10px;
}

.node-table-row {
	position: relative;
	border-bottom: 6px solid #d6d6d6;
	padding-right: 1.5em;
}

.page-parent-node {
	background: #ededed;
	padding-top: 10px;
}

.node-table-row .top-right-image {
	position: absolute;
	top: 0px;
	right: 0px;
}

.my-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
}

.active-row {
	border-left: 10px solid red;
}

.inactive-row {
	border-left: 10px solid transparent;
}

.property-column {
	width: 20%;
}

.value-column {
	width: 80%;
}