.vert-space {
	display: block;
	height: .5em;
}

tr td div p {
	margin: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
}

.captcha-image {
	text-align:center;
}

.donations {
	text-align:center;
}

.donate-back-button {
	margin: 3em;
}

.header-text {
	font-size: small;
	
	/*
	background: yellow;
	border: 1px dotted gray;
	*/
}

.donate-center {
	margin-top: 2em;
	text-align:center;
}

.donate-link {
	font-size: small;
	cursor: pointer;
}

.captcha {
	margin-top: 20px;
	border: 1px solid black;
}

.privilege-list {
	
}

.binary-link {
	
}

.privilege-entry {
	margin: 1em;
	background: lightGray;
	border-bottom: 1px solid #d6d6d6;
}

.jcr-content {
	margin-left: 1em;
}

.property-text {
	margin-left: 1em;
}

.prop-table-row {
	border-bottom: 1px solid #d6d6d6;
	width: 100%;
}

.prop-table-name-col {
	border-right: 1px solid gray;
	/*
	margin: 0px;
	paddign: 0px;
	border: 1px solid red;
	*/
	width: 25%;
}

.prop-table-val-col {
	/*
	margin: 0px;
	paddign: 0px;
	border: 1px solid green;
	*/
	width: 70%;
}

.prop-table { 
	/* border: 1px solid gray; */
	width: 100%;
}

.path-display-in-editor {
	background: lightGray;
	padding: 10px;
}

.main-node-content {
	padding-top: 5px;
	padding-left: 5px;
	border-bottom: 3px solid black;
}

.page-node-header {
	border-left: 10px solid transparent;
}

.node-table-row {
	border-bottom: 6px solid #d6d6d6;
	padding-left: 5px;
}

.active-row {
	border-left: 10px solid red;
}

.inactive-row {
	/* transparent doesnt seem to work */
	border-left: 10px solid transparent;
}

.property-column {
	width: 20%;
}

.value-column {
	width: 80%;
}