<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<body>
	<div data-role="page" id="changePasswordPg">
		<div data-role="header">
			<h2 th:text="${brandingTitle}+' - Change Password'"></h2>
		</div>
		<div role="main" class="ui-content">
		Enter the <b>new</b> password twice...
			<div class="ui-field-contain">
				<label for="password1">Password:</label>
				<!--  -->
				<input type="password" name="password1" id="changePassword1" value="" />

				<label for="password2">Repeat Password:</label>
				<!--  -->
				<input type="password" name="password2" id="changePassword2" value="" />
			</div>

			<div data-type="horizontal" data-role="controlgroup">
				<a id="changePasswordActionButton" class="ui-btn ui-btn-inline ui-btn-b">Change Password</a>
				<a href="#" id="cancelChangePasswordButton" data-rel="back"
					class="ui-btn ui-btn-inline">Cancel</a>
			</div>

		</div>
	</div>
</body>
</html>
