<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<body>
	<div data-role="page" id="editNodePg">
		<div data-role="header">
			<h2 th:text="${brandingTitle}+' - Edit Node'"></h2>
		</div>
		<div role="main" class="ui-content">
			<div id="editNodePathDisplay" class="path-display-in-editor"></div>

			<div id="editNodeInstructions"></div>

			<div id="propertyEditFieldContainer">
			</div>

			<div data-type="horizontal" data-role="controlgroup">
				<a id="saveNodeButton" class="ui-btn ui-btn-inline ui-btn-b">Save</a>
				<a id="makeNodeReferencableButton" class="ui-btn ui-btn-inline">Make Referencable</a>
				<!--  -->
				<a id="addPropertyButton" class="ui-btn ui-btn-inline">Add Property</a>
				<!--  -->
				<a href="#" id="cancelEditButton" 
					class="ui-btn ui-btn-inline">Close</a>
			</div>

		</div>
	</div>
</body>
</html>
