<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<body>
	<div data-role="page" id="editPropertyPg">
		<div data-role="header">
			<h2 th:text="${brandingTitle}+' - Edit Node Property'"></h2>
		</div>
		<div role="main" class="ui-content">

			<div id="editPropertyPathDisplay" class="path-display-in-editor"></div>
			<div id="addPropertyFieldContainer" class="ui-field-contain"></div>

			<div data-type="horizontal" data-role="controlgroup">
				<a id="savePropertyButton" data-theme="b" data-role="button">Save</a>
				<!--  -->
				<a href="#" id="editPropertyPgCloseButton" data-rel="back" data-role="button">Cancel</a>
			</div>

		</div>
	</div>
</body>
</html>
