<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<body>
	<div data-role="page" id="loginPg">
		<div data-role="header">
			<h2 th:text="${brandingTitle}+' - Login'"></h2>
		</div>
		<div role="main" class="ui-content">

			<div class="ui-field-contain" id="loginCredentialFields">
				<label for="userName">User:</label>
				<!--  -->
				<input type="text" name="userName" id="userName" value="" /> <label
					for="password">Password:</label>
				<!--  -->
				<input type="password" name="password" id="password" value="" />
			</div>

			<div data-type="horizontal" data-role="controlgroup">
				<a id="loginButton" data-theme="b" class="ui-btn ui-btn-inline">Login</a>

				<!--  -->
				<a id="logoutButton" data-theme="b" class="ui-btn ui-btn-inline">Logout</a>

				<!--  -->
				<a href="#signupPg" class="ui-btn ui-btn-inline">Signup</a>

				<!--  -->
				<a href="#" id="cancelLoginActionButton" data-rel="back"
					data-theme="a" class="ui-btn ui-btn-inline">Cancel</a>
			</div>

		</div>
	</div>
</body>
</html>
