<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<body>
	<div data-role="popup" id="popupMenu">

		<ul data-role="listview" style="min-width: 300px;">

			<li data-role="collapsible" data-iconpos="right" data-shadow="false"
				data-corners="false">
				<h2>My Account</h2>
				<ul data-role="listview" data-shadow="false" data-inset="true"
					data-corners="false">
					<li><a id="changePasswordDialogButton">Change Password</a></li>
					<li><a id="accountPreferencesDialogButton">Account Preferences</a></li>
					<li><a id="insertBookWarAndPeaceButton">Insert Book: War and Peace</a></li>
				</ul>
			</li>
			
			<li data-role="collapsible" data-iconpos="right" data-shadow="false"
				data-corners="false">
				<h2>Search</h2>
				<ul data-role="listview" data-shadow="false" data-inset="true"
					data-corners="false">
					<li><a id="searchNodesDialogButton">Text Search</a></li>
				</ul>
			</li>
			

		</ul>

	</div>
</body>
</html>
