<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<body>
	<div data-role="page" id="shareNodeToPersonPg">
		<div data-role="header">
			<h2 th:text="${brandingTitle}+' - Share Node to Person'"></h2>
		</div>
		<div role="main" class="ui-content">

			Enter the username of the person you want to share this node with:
			
			<div class="ui-field-contain">
				<label for="shareToUserName">User to Share With:</label>
				<!--  -->
				<input type="text" name="shareToUserName" id="shareToUserName" value="" /> 
			</div>

			<div data-type="horizontal" data-role="controlgroup">
				<a id="shareNodeToPersonButton" class="ui-btn ui-btn-inline ui-btn-b">Share</a>

				<!--  -->
				<a href="#" id="cancelShareToPersonActionButton" data-rel="back"
					class="ui-btn ui-btn-inline">Cancel</a>
			</div>

		</div>
	</div>
</body>
</html>
