<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<body>
	<div data-role="page" id="shareNodePg">
		<div data-role="header">
			<h2 th:text="${brandingTitle}+' - Node Sharing'"></h2>
		</div>
		<div role="main" class="ui-content">
			<div id="shareNodeNameDisplay"></div>

			<div id="sharingListFieldContainer"></div>

			<div data-type="horizontal" data-role="controlgroup">

				<!--  -->
				<a id="shareNodeToPersonPgButton" class="ui-btn ui-btn-inline">Share with
					Person</a>
				<!--  
				<a id="shareNodeToGroupButton" class="ui-btn ui-btn-inline">Share with
					Group</a>
				 -->
				<a id="shareNodeToPublicButton" data-theme="b" class="ui-btn ui-btn-inline">Make
					Public</a>
				<!--  -->
				<a href="#" id="closeShareNodePgButton" data-rel="back" class="ui-btn ui-btn-inline">Close</a>
			</div>

		</div>
	</div>
</body>
</html>
