<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<body>
	<div data-role="page" id="shareNodePg">
		<div data-role="header">
			<h2 th:text="${brandingTitle}+' - Node Sharing'"></h2>
		</div>
		<div role="main" class="ui-content">
			<div id="shareNodeNameDisplay"></div>

			<div id="sharingListFieldContainer"></div>

			<div data-type="horizontal" data-role="controlgroup">

				<!--  -->
				<a id="shareNodeToPersonPgButton" data-role="button">Share with
					Person</a>
				<!--  
				<a id="shareNodeToGroupButton" data-role="button">Share with
					Group</a>
				 -->
				<a id="shareNodeToPublicButton" data-theme="b" data-role="button">Make
					Public</a>
				<!--  -->
				<a href="#" id="closeShareNodePgButton" data-rel="back" data-role="button">Close</a>
			</div>

		</div>
	</div>
</body>
</html>
