<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<body>
	<div data-role="page" id="signupPg">
		<div data-role="header">
			<h2 th:text="${brandingTitle}+' - Signup'"></h2>
		</div>
		<div role="main" class="ui-content">
			Note: No email address is required currently, because this app is an
			alpha site that doesn't yet have email support.
			<div class="ui-field-contain">
				<label for="signupUserName">User:</label>
				<!--  -->
				<input type="text" name="signupUserName" id="signupUserName" />

				<!--  -->
				<label for="signupPassword">Password:</label>
				<!--  -->
				<input type="password" name="signupPassword" id="signupPassword" />

				<!-- Removing until feature is ready.
				<label for="signupEmail">Email:</label>
				<input type="text" name="signupEmail" id="signupEmail"/>
				-->

				<!--  -->
				<label for="signupCaptcha">Captcha:</label>
				<!--  -->
				<input type="text" name="signupCaptcha" id="signupCaptcha" />

				<!--  -->
				<div class="captcha-image">
					<img id="captchaImage" class="captcha" src="" />
				</div>

				<button type="button" id="tryAnotherCaptchaButton">Try
					Different Image</button>

			</div>

			<div data-type="horizontal" data-role="controlgroup">
				<a id="signupButton" class="ui-btn ui-btn-inline ui-btn-b">Signup</a> <a
					href="#" id="cancelSignupButton" data-rel="back" 
					class="ui-btn ui-btn-inline">Cancel</a>
			</div>

		</div>
	</div>
</body>
</html>
