<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<body>
	<div data-role="page" id="uploadPg">
		<div data-role="header">
			<h2 th:text="${brandingTitle}+' - Upload File Attachment'"></h2>
		</div>
		<div role="main" class="ui-content">
			<div id="uploadPathDisplay" class="path-display-in-editor"></div>

			<div id="uploadFieldContainer">
				<p>Upload from your computer</p>
				<form id="uploadForm" method="POST" enctype="multipart/form-data">
	    			<input type="file" name="file"/>
	    			<input id="uploadFormNodeId" type="hidden" name="nodeId"/>
	  			</form>
			</div>
			
			<div>
			<h3>-- OR --</h3>
			</div>
			
			<div>
				<label for="uploadFromUrl">Upload from URL</label>
				<!--  -->
				<input type="text" name="uploadFromUrl" id="uploadFromUrl" value="" />
			</div>
			
			<div data-type="horizontal" data-role="controlgroup">
				<a id="uploadButton" onClick="attachment.uploadFileNow()" class="ui-btn ui-btn-inline ui-btn-b">Upload</a>
				
				<a id="deleteAttachmentButton" class="ui-btn ui-btn-inline">Delete</a>
				
				<!--  -->
				<a href="#" id="cancelUploadButton" 
					class="ui-btn ui-btn-inline" onClick="attachment.closeUploadPg()">Close</a>
			</div>
			
		</div>
	</div>
</body>
</html>
