<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title th:text="${brandingTitle}">Branding Title</title>

<meta charset="UTF-8" />
<!--  Required for JQuery Large Rendering -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="../jquery/jquery.mobile-1.4.5.css" />
<link rel="stylesheet" th:href="@{${meta64Css}}" />

<script th:inline="javascript">
	/*<![CDATA[*/
	var cookiePrefix = /*[[${@constantsProvider.getCookiePrefix()}]]*/"";
	var BRANDING_TITLE = /*[[${@constantsProvider.getBrandingTitle()}]]*/"";
	var cacheVersion = /*[[${@constantsProvider.getCacheVersion()}]]*/"";
	var postTargetUrl = window.location.origin + "/mobile/rest/";
	/*]]>*/
</script>

<script type="text/javascript" th:src="@{/jquery/jquery-2.1.3.js}"></script>

<script>
	// WARNING: do not move. Must be after jquery.js but before jquery.mobile.js
	$(document).on("mobileinit", function() {

		// We want popups to cover the page behind them with a dark background
		$.mobile.popup.prototype.options.overlayTheme = "b";
		$.mobile.ignoreContentEnabled = true;
	});
</script>

<script type="text/javascript"
	th:src="@{/jquery/jquery.mobile-1.4.5.js}"></script>

<script type="text/javascript"
	th:src="@{/js/md/Markdown.Converter.js?ver.md=1}"></script>

<script type="text/javascript"
	th:src="@{/js/md/Markdown.Sanitizer.js?ver.md=1}"></script>

<script type="text/javascript"
	th:src="@{/js/cookie/jquery.cookie.js?ver.md=1}"></script>

<script type="text/javascript" th:inline="javascript"
	th:src="@{${scriptLoaderJs}}"></script>

</head>

<body>
	<div id="mainPage" data-role="page">
		<div id="mainPageHeader" data-role="header" data-position="fixed"
			data-tap-toggle="false">
			<h1 id="headerUserName" th:text="${brandingTitle}">Branding
				Title</h1>
			<a href="#popupMenu" data-rel="popup" data-icon="bars"
				id="menuButton" class="ui-btn ui-btn-inline ui-btn-b">Menu</a>

			<div data-type="horizontal" data-role="controlgroup"
				class="ui-btn-right">
				<!--  -->
				<a href="#signupPg" class="ui-btn ui-btn-inline ui-btn-a">Signup</a>
				<!--  -->
				<a data-icon="user" id="openLoginPgButton"
					class="ui-btn ui-btn-inline ui-btn-b">Login</a>
			</div>

			<div data-role="navbar">
				<ul>
					<li><a id="navHomeButton" data-icon="home">Home</a></li>
					<li><a id="navUpLevelButton" data-icon="arrow-u-l">Up
							Level</a></li>
					<!--  
					<li><a id="navScrollTopButton" data-icon="arrow-u">Top</a></li>
					-->
					<li><a id="propsToggleButton" data-icon="forbidden">Props</a></li>
					<li><a id="editModeButton" data-icon="forbidden">Edit</a></li>
				</ul>
			</div>
			<div class="page-node-header">
				<div id="mainNodeStatusBar"></div>
			</div>
		</div>

		<div data-role="content">
			<div id="mainNodeContent" class="main-node-content"></div>
			<div id="mainPageControls"></div>
			<div id="listView"></div>
			<div th:replace="fragments/popup-menu">...</div>

			<div class="donate-center">
				<a data-ajax="false" class="donate-link"
					onClick="meta64.openDonatePg();">[ Contribute to Meta64 ]</a>
			</div>
		</div>
		<!-- /content -->

	</div>
	<!-- /page -->

	<div data-role="dialog" id="sure" data-title="Are you sure?">
		<div data-role="content">
			<h3 class="sure-1"></h3>
			<p class="sure-2"></p>
			<a href="#" class="ui-btn ui-btn-inline ui-btn-b sure-do"
				data-rel="back">Yes</a>
			<!--  -->
			<a href="#" class="ui-btn ui-btn-inline" data-rel="back">No</a>
		</div>
	</div>

	<div data-role="page" id="signupPg"></div>
	<div data-role="page" id="loginPg"></div>
	<div data-role="page" id="prefsPg"></div>
	<div data-role="page" id="changePasswordPg"></div>
	<div data-role="page" id="exportPg"></div>
	<div data-role="page" id="importPg"></div>
	<div data-role="page" id="searchPg"></div>
	<div data-role="page" id="uploadPg"></div>
	<div data-role="page" id="sharingPg"></div>

	<div th:replace="fragments/edit-node">...</div>
	<div th:replace="fragments/edit-property">...</div>
	<div th:replace="fragments/search-results">...</div>
	<div th:replace="fragments/share-node-to-person">...</div>
	<div th:replace="fragments/donate">...</div>

	<script>
		$(window).load(function() {
			/*
			Loads all JS files, and then calls initApp once they are all completely loaded
			 */
			loader.loadScripts([ //
			"/js/meta64/attachment.js", //
			"/js/meta64/edit.js", //
			"/js/meta64/meta64.js", //
			"/js/meta64/nav.js", //
			"/js/meta64/prefs.js", //
			"/js/meta64/props.js", //
			"/js/meta64/render.js", //
			"/js/meta64/search.js", //
			"/js/meta64/share.js", //
			"/js/meta64/user.js", //
			"/js/meta64/util.js", //
			"/js/meta64/view.js", //
			"/js/meta64/cnst.js",//
			"/js/meta64/pg/pageMgr.js",//
			"/js/meta64/pg/loginPg.js",//
			"/js/meta64/pg/signupPg.js",//
			"/js/meta64/pg/prefsPg.js",//
			"/js/meta64/pg/exportPg.js",//
			"/js/meta64/pg/importPg.js",//
			"/js/meta64/pg/searchPg.js",//
			"/js/meta64/pg/changePasswordPg.js",//
			"/js/meta64/pg/uploadPg.js",//,
			"/js/meta64/pg/sharingPg.js"
			], //
			function() {
				meta64.initApp();
			});
		});
	</script>

</body>
</html>
